[alias]
  # shorten some commonly used commands
  st = status

  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lgg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --name-only
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
  ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  df = diff --color --color-words --abbrev

  # add a command to squash work in progress that hasn't been pushed
  wip = rebase -i @{u}

  # Head branches
  cdef = "!git checkout $(git originhead)"
  default = "!git checkout $(git originhead)"
  originhead = "!git remote show origin | awk '$0 ~ \"HEAD branch\" {print $NF}'"

  # Diff tools
  vimdiff = difftool --tool=vimdiff
  vsdiff = difftool --tool=vscode

[color]
  ui = always

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[commit]
  gpgsign = true

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

[credential]
  helper = store

[delta]
  navigate = true

# git diff
[diff]
  tool = p4merge
  colorMoved = default

[difftool]
  prompt = false

[difftool "kdiff3"]
  path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
  trustExitCode = false

[difftool "opendiff"]
  path = /usr/bin/opendiff
  trustExitCode = false

[difftool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$LOCAL" "$REMOTE"

[difftool "vscode"]
  cmd = code --diff $LOCAL $REMOTE

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[gpg]
  program = gpg
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedsignersfile = ~/.ssh/allowed_signers

[help]
  autocorrect = 50

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  tool = p4merge
  prompt = true
  conflictstyle = diff3

[mergetool]
  keepTemporaries = false
  keepBackup = false

[mergetool "kdiff3"]
  path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
  trustExitCode = false

[mergetool "opendiff"]
  cmd = /usr/bin/opendiff "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
  trustExitCode = false

[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false

[mergetool "vscode"]
  conflictstyle = diff3
  cmd = code --wait"$MERGED"
  trustExitCode = false

[protocol]
  version = 2

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
  default = current
  autoSetupRemote = true

[pull]
  ff = only

[stash]
  showPatch = true

[tag]
  forceSignAnnotated = true

# # rewrites
# [url "git@github.com:"]
#   insteadOf = "https://github.com/"
#   pushInsteadOf = "github:"
#   pushInsteadOf = "git://github.com/"
#   pushInsteadOf = "https://github.com/"

# [url "https://github.com/"]
#   insteadOf = git://github.com/
#   insteadOf = "github:"

# [url "git@gist.github.com:"]
#   pushInsteadOf = "gist:"
#   pushInsteadOf = "git://gist.github.com/"

# [url "https://gist.github.com/"]
#   insteadOf = "gist:"

# gh tool auth
[url "https://x-access-token@github.com"]
  insteadOf = ssh://git@github.com

# use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
