[color]
  ui = always

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

[diff]
  tool = kdiff3

[difftool]
  prompt = false

[difftool "kdiff3"]
  path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
  trustExitCode = false]

[difftool "opendiff"]
  path = /usr/bin/opendiff
  trustExitCode = false

[difftool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$LOCAL" "$REMOTE"

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[merge]
  tool = kdiff3
  prompt = false

[mergetool]
  keepTemporaries = false
  keepBackup = false

[mergetool "kdiff3"]
  path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
  trustExitCode = false

[mergetool "opendiff"]
  cmd = /usr/bin/opendiff "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
  trustExitCode = false

[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false

# rewrites
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
  pushInsteadOf = "https://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
  pushInsteadOf = "https://gist.github.com/"


# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules

[url "git@github.com:bdashrad/"]
  insteadOf = "git://github.com/bdashrad/"
[help]
  autocorrect = 50

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
  default = current

[user]
  name = "Brad Clark"
  email = bdashrad@gmail.com

