# standard junk
.DS_Store

# local config settings
.extra
.gitconfig.local

# ssh config
ssh/.ssh/config

# sublime
"sublime/User/Package Control.merged-ca-bundle"
"sublime/User/oscrypto-ca-bundle.crt"

# vim things
vim/.vim/plugged/**
vim/.vim/.netrwhist
