Host colima
  IdentityFile "/Users/bradclark/.lima/_config/user"
  IdentityFile "/Users/bradclark/.ssh/google_compute_engine"
  IdentityFile "/Users/bradclark/.ssh/id_ecdsa"
  IdentityFile "/Users/bradclark/.ssh/id_ed25519"
  IdentityFile "/Users/bradclark/.ssh/infrastructure-deploy-key"
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  NoHostAuthenticationForLocalhost yes
  GSSAPIAuthentication no
  PreferredAuthentications publickey
  Compression no
  BatchMode yes
  IdentitiesOnly yes
  Ciphers "^aes128-gcm@openssh.com,aes256-gcm@openssh.com"
  User bradclark
  ControlMaster auto
  ControlPath "/Users/bradclark/.lima/colima/ssh.sock"
  ControlPersist 5m
  Hostname 127.0.0.1
  Port 56336

