#!/usr/bin/env bash

###
# upgrade `ls`

# use coreutils `ls` if possible…
hash gls >/dev/null 2>&1 || alias gls="ls"

# always use color, even when piping (to awk,grep,etc)
# if gls --color > /dev/null 2>&1; then colorflag="--color"; else colorflag="-G"; fi;
colorflag="--color"
export CLICOLOR_FORCE=1

# ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
alias ls='gls -AFh ${colorflag} --group-directories-first'
alias lsd='ls -l | grep "^d"' # only directories
#    `la` defined in .functions

# # Always use color output for `ls`
# if [[ "$OSTYPE" =~ ^darwin ]]; then
#   alias ls="command ls -G"
# else
#   alias ls="command ls --color"
#   export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
# fi
###

# `cat` with beautiful colors. requires: sudo easy_install -U Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# IP addresses
alias wanip="dig +short myip.opendns.com @resolver1.opendns.com"
alias lanip="ipconfig getifaddr en0"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
#alias whois="whois -h whois-servers.net"

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null || alias md5sum="md5"

# Trim new lines and copy to clipboard
alias trimcopy="tr -d '\n' | pbcopy"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

###
# git stuff
# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# jump to repor root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

# Update fork from upstream repo
alias gitupstream='echo -n "rebase current repo with upstream repo? (CTRL+C to quit): "; read doit; git fetch upstream; git rebase upstream/master;'

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

# pretty disk usage
alias diskspace_report="df -P -kHl"

# File size
alias fs="stat -f \"%z bytes\""

# apple wireless scan
alias wifiscan='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport scan'

# dns stuff
dnshosts=()
# cloudflare
dnshosts+=('1.0.0.1')
dnshosts+=('1.1.1.1')
dnshostsv6+=('2606:4700:4007::1001')
dnshostsv6+=('2606:4700:4700::1111')
# quadnine dns
dnshosts+=('9.9.9.9')
dnshosts+=('149.112.112.112')
dnshostsv6+=('2620:fe::fe')
dnshostsv6+=('2620:fe::9')
# opendns
dnshosts+=('208.67.222.222')
dnshosts+=('208.67.220.220')
dnshostsv6+=('2620:119:35::35')
dnshostsv6+=('2620:119:53::53')
# opendns, no-filtering
dnshostsv6+=('2620:0:ccc::2')
dnshostsv6+=('2620:0:ccd::2')
# google public dns
dnshosts+=('8.8.8.8')
dnshosts+=('8.8.4.4')
dnshostsv6+=('2001:4860:4860::8888')
dnshostsv6+=('2001:4860:4860::8844')
# # dyn dns
# dnshosts+=('216.146.35.35')
# dnshosts+=('216.146.36.36') # i'm slow

alias getdns="networksetup -getdnsservers Wi-Fi && scutil --dns"
alias setdns="networksetup -setdnsservers Wi-Fi ${dnshosts[*]} ${dnshostsv6[*]}"

alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# reset audio devices
alias audioreset="sudo killall coreaudiod"

# homebrew
alias brewall='brew -v update && brew -v upgrade && brew cu -a --cleanup'
alias brewcleanup='brew -v cleanup && brew -v cask cleanup'

# terraform
alias tf="command terraform"

# node
alias load_node='export PATH=$PATH:$(npm bin -g)'

# perl
alias load_perl='eval "$(perl -I$HOME/perl5/lib/perl5 -Mlocal::lib=$HOME/perl5)"'

# kubernetes completion
if command -v kubectl >/dev/null 2>&1; then
  alias k8s_complete='. <(kubectl completion bash)'
  alias helm_complete='. <(helm completion bash)'
  alias k=kubectl
  alias k8s_redis_cli='kubectl run "redis-cli-${USER}" -i --tty --image=redis:latest --restart=Never --rm -- bash'
fi

if command -v kubectl >/dev/null 2>&1; then
  alias k8scomplete='k8s_complete && helm_complete && k_complete'
fi

if command -v kubeconform >/dev/null 2>&1; then
  alias kcf="kubeconform \
    -strict \
    -schema-location default \
    -schema-location \
      'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json'"
fi

# hugo completions
alias hugo_complete='. "$HOME/.hugo/hugo.sh"'

# terraform completion
alias terraform_complete='complete -C $(which terraform) terraform tf'
