#!/usr/bin/env bash

# Environment
export TZ=US/Eastern
export EDITOR=$(which vim)

# ignore duplicate history lines
export HISTCONTROL=ignoredupes:ignorespace

# Larger bash history (32^3 entries)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE

# set timestamps in history
export HISTTIMEFORMAT='%F %T '

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# aws-cli config file
export AWS_CONFIG_FILE=$HOME/.aws/config

# Add brew coreutils to $PATH
export PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"

# homebrew applications
export PATH="/usr/local/bin:$PATH"

# Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

# java home
export JAVA_HOME=$(/usr/libexec/java_home)

# use homebrew coreutils manpages
export MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"